<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'lists/css/movies.css' %}">
    <link rel="stylesheet" href="{% static 'lists/css/add_movie.css' %}">
    <title>Киноклуб</title>
</head>
<body>
<form method="POST" action='#' id="movie-saver">
    <label>
        <input type="text" placeholder="ссылка на фильм" name="kp_id">
    </label>

    <button type="submit">Сохранить фильм</button>
</form>


<script async type="text/javascript" src="{% static 'lists/js/add_movie.js' %}"></script>
</body>

</html>