<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'lists/css/movies.css' %}">
    <title>Киноклуб</title>
</head>
<body>
        <header class="title">Киноклуб</header>
{#        <section class="watchlist-container">#}
{#            <h3 class="watchlist">watchList</h3>#}
{#            <ul class="list">#}
{#            </ul>#}
{#        </section>#}
        <section class="movie-posters">
            {% for i in data %}
            <img class="poster" src="{{ i.poster }}" alt="poster" data-kp-id="{{ i.kp_id }}">
            {% endfor %}
        </section>
        <section class="movie-card">
            <img class="card-poster" src="" alt="">
            <h2></h2>
            <p></p>
            <h3></h3>
            <p></p>
        </section>
        
        <script async type="text/javascript" src="{% static 'lists/js/movie.js' %}"></script>

    </body>
</html>