<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'lists/../../static/css/postcard.css' %}">
    <title>Киноклуб</title>
</head>
<body>
<div class="container">
    <img src="{% static 'img/postcard.jpg' %}">
</div>

<script async type="module" src="{% static 'lists/../../static/js/example.js' %}" ></script>
<script async type="text/javascript" src="{% static 'lists/../../static/js/card.js' %}"></script>

</body>
</html>