body {
    background-color: #000137;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: space-around;

    label {
        width: 80%;
    }

    button {
        width: 10em;
        height: 4em;
    }
    button:hover {
        cursor: pointer;
        background-color: #3c763d;
    }
}

input {
    width: 50%;
    height: 25px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto 10px;
    padding: .5em;
    line-height: normal;

}