/* Корзина с выбранными фильмами*/


#corf {
    position: fixed;
    bottom: 30px;
    left: 40px;


}

#corf:hover {
    cursor: pointer;
}

#corf-icon {
    height: 8em;
    border-radius: 100%;
}

#corf-films {
    position: absolute;
    bottom: 5px;
    left: 8em;
    /*background-color: #66512c;*/
    width: 21em;
    backdrop-filter: blur(15px);
    /*white-space: pre;*/

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0 10px 8px 2px;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
    }

    li:hover {
        background-color: #3c3c3c;
    }

    span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 20px;
    }

    img {
        height: 6em;
    }
}