.papa {
    height: 90%;
    position: relative;
}

.mama {
    height: 100%;
    position: relative;
    /*border-image-width: 5em;*/
    /*border: 10px solid grey;*/
    /*border-image: url("../../static/img/border/brd1.png") 50% / 20px;*/
}


.docha {
    height: 65%;
    width: 30%;
    position: absolute;
    top: 25%;
    left: 15%;

    /*filter: grayscale(0.5) blur(1px) contrast(1.2) sepia(1);*/
    /*-webkit-mask: radial-gradient(#000, #0009);*/

    .carousel-inner {
        width: 100%;

    }

    .carousel-item {
        width: 100%;
    }

    img {
        width: 100%;
    }

}