#postcard-container {
    height: 90%;
    position: relative;
}

#postcard {
    height: 100%;
}


#posters {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.poster-container {
    position: absolute;
    height: 16em;
    width: 12em;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 2500px) {
        height: 22em;
        width: 17em;
    }

    @media (min-width: 3500px) {
        height: 34em;
        width: 26em;
    }
}

.border {
    width: 100%;
    height: 100%;
}


.poster {
    position: absolute;
    top: 0.8em;
    left: 0.9em;
    height: 90%;
    width: 85%;

    &:hover {
        filter: hue-rotate(180deg);
    }

    @media (min-width: 2500px) {
        top: 1.1em;
        left: 1.3em;
    }

    @media (min-width: 3000px) {
        top: 1.7em;
        left: 1.7em;
    }
}


/* Постеры фильмов  */
.poster-container:nth-child(1) {
    top: 18%;
    left: 8%;
    transform: rotate(-6deg);
}

.poster-container:nth-child(2) {
    top: 20%;
    left: 35%;
    transform: rotate(10deg);
    z-index: 2;
}

.poster-container:nth-child(3) {
    top: 53%;
    left: 6%;
    transform: rotate(-7deg);
}

.poster-container:nth-child(4) {
    top: 53%;
    left: 31%;
    transform: rotate(4deg);
}


/* Декоративные штампы */


.stamp {
    position: absolute;
    height: 20%;
}


.stamp_1 {
    top: 50%;
    left: 25%;
}

.stamp_2 {
    position: absolute;
    top: 75%;
    left: 95%;
    transform: rotate(6deg);

    @media (min-width: 2500px) {
        top: 78%;
        left: 108%;
    }

    @media (min-width: 3000px) {
        left: 105%;
    }
}

/* Текстовое описание приглашения */
#invitation {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 38%;
    left: 58%;
    font-size: 1.8em;
    font-weight: bold;


    span {
        display: block;
        margin-bottom: 1em;
        border-bottom: 2px solid black;

        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        max-width: 100%;

    }

    @media (min-height: 1080px) {
        left: 65%;
    }

    @media (min-height: 1200px) {
        width: 51%;
        left: 54%;
        font-size: 2.4em;
    }


    @media (min-height: 1440px) {
        width: 60%;
        left: 62%;
        font-size: 2.6em;

    }

    @media (min-height: 2160px) {
        font-size: 4em;

    }

}