@font-face {
    font-family: 'noteFont';
    src: local('Abc'), url('../../fonts/DS Stamper.ttf') format('opentype');
}


#rate-toggle-container {
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }


}

#rate-toggle {
    height: 40%;
}

.note-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 14em;
    width: 100%;
}


.note {

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "noteFont", 'sans-serif';

    position: absolute;
    height: 3em;
    width: 3em;

    background: #ffc;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;

    h2, p {
        font-weight: bold;
        color: var(--black-color);
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-family: "Reenie Beanie", arial, sans-serif;
        font-size: 3em;
    }

    @media (min-width: 3000px) {
        height: 6em;
        width: 6em;

        h2 {
            font-size: 3em;
        }
    }


}


.note[data-user-id="2"] {
    transform: rotate(4deg);
    top: 1em;
    left: 1em;
    background: var(--red-color);
}

.note[data-user-id="3"] {
    transform: rotate(4deg);
    top: 2em;
    left: 5em;
    background: var(--yellow-color);

    @media (min-width: 3000px) {
        top: 4em;
        left: 11em;
    }
}

.note[data-user-id="4"] {
    transform: rotate(4deg);
    top: 6em;
    left: 1em;
    background: var(--white-color);

    @media (min-width: 3000px) {
        top: 11em;
        left: 2em;
    }
}

.note[data-user-id="5"] {
    transform: rotate(4deg);
    top: 8em;
    left: 5em;
    background: var(--orange-color);

    @media (min-width: 3000px) {
        top: 14em;
        left: 10em;
    }
}


.note:hover {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;


}

