@font-face {
    font-family: 'noteFont';
    src: local('Abc'), url('../fonts/DS Stamper.ttf') format('opentype');
}

.note-container {
    visibility: hidden;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 95%;
    width: 70%;
    z-index: 1;
}


.note {
    font-family: "noteFont", 'sans-serif';

    position: absolute;
    height: 25%;
    width: 50%;
    float: left;

    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    padding-left: 1.3em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;


    h2, p {
        margin: 5px 5px;
        font-weight: bold;
        color: black;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-family: "Reenie Beanie", arial, sans-serif;
        font-size: 3em;
    }


}


.note[data-user-id="2"] {
    transform: rotate(4deg);
    top: 0em;
    background: #ec81ab;
}

.note[data-user-id="3"] {
    transform: rotate(-3deg);
    top: 4em;
    background: #ffe45c;
}

.note[data-user-id="4"] {
    transform: rotate(5deg);
    top: 8em;
    background: #aedef1;
}

.note[data-user-id="5"] {
    transform: rotate(5deg);
    top: 12em;
    background: #d2df5b;
}


.note:hover {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    /*transform: scale(1.25);*/
    position: relative;
    z-index: 5;


}

