
#toast {
    position: fixed;
    right: 5em;
    top: 20vh;
    color: black;

    z-index: 35;

    @media (min-width: 2500px) {
        font-size: 1.5em;
    }

    @media (min-width: 3000px) {
        font-size: 2.3em;
    }
}

.toast_success {
    background-color: darkolivegreen;
}

.toast_error {
    background-color: var(--red-color);
}

.toast_info {
    background-color: steelblue;
}