
#toast {
    position: fixed;
    right: 5em;
    top: 20vh;

    z-index: 35;
}

.toast_success {
    background-color: darkolivegreen;
}

.toast_error {
    background-color: var(--red-color);
}

.toast_info {
    background-color: steelblue;
}