    {% load static %}
    
<div id="corf">
    <img id="corf-icon" src="{% static 'img/clappers/clapper6.png' %}" alt="">
    <div id="corf-films">
        <ul>
            <li><img src="{% static 'img/posters_examples/orig.jpeg'  %}" alt=""> <span>Форсаж</span></li>
            <li><img src="{% static 'img/posters_examples/orig2.jpeg'  %}" alt=""><span>Час пик</span></li>
            <li><img src="{% static 'img/posters_examples/orig3.jpeg'  %}" alt=""><span>Дом который построил Джек</span></li>
            <li><img src="{% static 'img/posters_examples/orig4.jpeg'  %}" alt=""><span>Догма</span></li>
        </ul>
    </div>
</div>
