{% load static %}

<div id="rate-modal">
    <form id="rate-form" action="">
        <h2>Оценка фильма</h2>
        <div class="rating">
            <input type="radio" id="star10" name="rating" value="5"/>
            <label for="star10"></label>
            <input type="radio" id="star9" name="rating" value="5"/>
            <label for="star9"></label>
            <input type="radio" id="star8" name="rating" value="5"/>
            <label for="star8"></label>
            <input type="radio" id="star7" name="rating" value="5"/>
            <label for="star7"></label>
            <input type="radio" id="star6" name="rating" value="5"/>
            <label for="star6"></label>
            <input type="radio" id="star5" name="rating" value="5"/>
            <label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4"/>
            <label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3"/>
            <label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2"/>
            <label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1"/>
            <label for="star1"></label>
        </div>
        <div id="comment-section">
            <label for="comment-area">
                Комментарий
            </label>
            <textarea name="" id="comment-area" cols="30" rows="10"></textarea>
        </div>

    </form>

</div>
