{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/add_movie.css' %}">
{% endblock %}

{% block title %}Фильмы{% endblock %}

{% block center-content %}
    <div class="input-group">
        <input type="text" id="form" placeholder="Ссылка на фильм">

        <input type="submit" id="button" value="Добавить">

    </div>

{% endblock %}


{% block script %}
    <script async type="text/javascript" src="{% static 'js/add_movie.js' %}"></script>
{% endblock %}

