<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">

    <link rel="stylesheet" href="{% static 'css/elements/scroll_up_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/sticky_notes.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/rating_modal.css' %}">
    <title>Киноклуб</title>
</head>
<body>
<div class="main">
    {# https://doka.guide/recipes/dropdown-animation/ #}
    {#https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select_event#}
    <header>
        <h1 class="title">Киноклуб</h1>

        {% if is_archive %}
            <div class="rate-toggle">
                <img class="toggler-img" src="{% static 'img/stickynotes/note2.png' %}" alt="">
            </div>
        {% else %}
            <div class="rate-toggle hidden">
                <img class="toggler-img" src="{% static 'img/stickynotes/note2.png' %}" alt="">
            </div>
        {% endif %}

        <div class="users-list">
            <select name="users" id="users-select">
                <option disabled value="X">Никто</option>
                {% for u in users %}
                    <option value="{{ u.id }}">{{ u.first_name }}</option>
                {% endfor %}
            </select>
        </div>
    </header>


    <section class="navigation">
        <nav class="menu-nav">
            <ul class="menu-list">
                <li><a href="http://localhost:8000/">Церемония</a></li>
                <li><a href="http://localhost:8000/movies">Список фильмов</a></li>
                <li><a href="http://localhost:8000/movies/archive">Архив фильмов</a></li>
                <li><a href="http://localhost:8000/movies/add">Добавить фильм</a></li>
                <li><a href="http://localhost:8000/statistic">Статистика</a></li>
            </ul>
        </nav>

    </section>


    <section class="movie-posters">

        {% for i in movies %}


            <div class="poster-container" data-kp-id="{{ i.kp_id }}">

                <img class="poster" src="{{ i.poster }}" alt="" data-kp-id="{{ i.kp_id }}" loading="lazy">

                <div class="note-container" data-kp-id="{{ i.kp_id }}">

                    {% for note in i.notes %}
                        <div class="note" data-user-id="{{ note.user }}">
                            <h2>{{ note.rating }}</h2>
                            {#                                <p>{{ note.rating }}</p>#}
                        </div>
                    {% endfor %}

                </div>

                <div class="options-list" data-kp-id="{{ i.kp_id }}">
                    {% if is_archive %}
                        <button class="btn-option btn-rate">🌟</button>
                    {% endif %}
                    <button class="btn-option btn-bookmark">
                        <img src="{% static 'img/poster_options/bm_grey.png' %}">
                    </button>
                    <button class="btn-option btn-archive">
                        <img src="{% static 'img/poster_options/rar.png' %}">
                    </button>
                    <button class="btn-option btn-remove">
                        <img src="{% static 'img/poster_options/cd.png' %}">
                    </button>
                </div>

            </div>

        {% endfor %}
    </section>

    <section class="movie-card">
        <img class="card-img" src="" alt="">
        <h2 class="card-title"></h2>
        <p class="card-description"></p>
        <h3 class="card-realise"></h3>
        <p class="card-duration"></p>
        <p class="card-link"><a href=""></a></p>
    </section>

</div>


{% include "elements/movies_cart.html" %}
{% include "elements/ratting_modal.html" %}
{% include "elements/scroll_up_button.html" %}


<script type="module" src="{% static 'js/movies.js' %}"></script>


</body>
</html>