<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">

    <link rel="stylesheet" href="{% static 'css/scroll_up_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/sticky_notes.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies_corf.css' %}">
    <title>Киноклуб</title>
</head>
<body>
<div class="main">
    {# https://doka.guide/recipes/dropdown-animation/ #}
    {#https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select_event#}
    <section class="header">
        <header class="title"><span>Киноклуб</span></header>
        <div class="rate-toggle">
            <button class="btn-rate-toggle">Показать оценки</button>
        </div>
        <div class="users-list">
            <select name="test" id="users-select">
                <option disabled value="X">Никто</option>
                {% for u in users %}
                    <option value="{{ u.id }}">{{ u.first_name }}</option>
                {% endfor %}
            </select>
        </div>
    </section>


    <section class="navigation">
        <nav class="menu-nav">
            <ul class="menu-list">
                {% if is_archive %}
                    <li><a href="http://localhost:8000/movies">Список фильмов</a></li>
                {% else %}
                    <li><a href="http://localhost:8000/movies/archive">Архив</a></li>
                {% endif %}

                <li><a href="http://localhost:8000/movies/add">Добавить фильм</a></li>
                <li><a href="http://localhost:8000/">Грядущий сеанс</a></li>
            </ul>
        </nav>

    </section>

    <section class="movie-posters">

        {% for i in movies %}
            <div class="poster-container" data-kp-id="{{ i.kp_id }}">
                <img class="poster" src="{{ i.poster }}" alt="poster" data-kp-id="{{ i.kp_id }}">

                <div class="note-container"></div>

                <div class="options-list" data-kp-id="{{ i.kp_id }}">
                    <button class="btn-option btn-rate">🌟</button>
                    <button class="btn-option btn-bookmark"><img src="{% static 'img/poster_options/bm_grey.png' %}">
                    </button>
                    <button class="btn-option btn-archive"><img src="{% static 'img/poster_options/rar.png' %}">
                    </button>
                    <button class="btn-option btn-remove"><img src="{% static 'img/poster_options/cd.png' %}"></button>
                </div>

            </div>

        {% endfor %}
    </section>

    <section class="movie-card">
        <img class="card-poster" src="" alt="">
        <h2></h2>
        <p></p>
        <h3></h3>
        <p></p>
    </section>

</div>


{% include "elements/ratting_modal.html" %}
{% include "elements/movies_corf.html" %}
{% include "elements/scroll_up_button.html" %}


<script type="module" src="{% static 'js/movies.js' %}"></script>


</body>
</html>