{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/rating_notes.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/rating_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/user_requirement_modal.css' %}">
{% endblock %}

{% block title %}Кино{% endblock %}

{% block header-button %}
    {% if is_archive %}
        <img id="rate-toggle" src="{% static 'img/stickynotes/note2.png' %}" alt="">
    {% endif %}
{% endblock %}

{% block center-content %}

    <div class="row posters-grid" data-kp-id="{{ i.kp_id }}">

        {% for i in movies %}

            <div class="poster-container" data-kp-id="{{ i.kp_id }}">

                <img class="poster-img " src="{{ i.poster }}" alt="" loading="lazy" data-kp-id="{{ i.kp_id }}">

                <div class="note-container" data-kp-id="{{ i.kp_id }}">

                    {% for note in i.notes %}
                        <div class="note" data-user-id="{{ note.user }}">
                            <h2>{{ note.rating }}</h2>
                            {#                            <p>{{ note.rating }}</p>#}
                        </div>
                    {% endfor %}

                </div>


                <div class="poster-settings">

                    <img class="opt opt-booked" src="{% static 'img/options_icons/bookmark4.png' %}" alt="">

                    {% if is_archive %}
                        <img class="opt opt-archive" src="{% static 'img/options_icons/archive3.png' %}" alt="">
                    {% else %}
                        <img class="opt opt-archive" src="{% static 'img/options_icons/archive4.png' %}" alt="">
                    {% endif %}

                    {% if is_archive %}
                        <img class="opt opt-rate" src="{% static 'img/options_icons/heart4.png' %}" alt="">
                    {% endif %}

                    <img class="opt opt-remove" src="{% static 'img/options_icons/boom2.png' %}" alt="">
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block right-content %}
    <div class="col">
        <img class="card-img" src="{{ random.card }}">
        <h2 class="card-title"></h2>
        <p class="card-description"></p>
        <h3 class="card-realise"></h3>
        <p class="card-duration"></p>
        <p class="card-link"><a href=""></a></p>
    </div>
{% endblock %}


{% block fixed %}
    {% include "elements/ratting_modal.html" %}
    {% include "elements/user_requirement_modal.html" %}
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/movies.js' %}"></script>
{% endblock %}


