{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/cringe.css' %}">
{% endblock %}

{% block title %}Другое название{% endblock %}

{% block center-content %}

    <div class="row mb-2 overflow-scroll posters-grid" data-kp-id="{{ i.kp_id }}">
    
        {% for i in movies %}

            <div class="col-auto mb-2 poster-container" data-kp-id="{{ i.kp_id }}" >
                <img class="poster-img " src="{{ i.poster }}" alt="" data-kp-id="{{ i.kp_id }}" loading="lazy">
                <div class="d-flex poster-settings">
                    <img src="{% static 'img/poster_options/paper.png' %}" alt="">
                    <img src="{% static 'img/poster_options/paper.png' %}" alt="">
                    <img src="{% static 'img/poster_options/paper.png' %}" alt="">
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block right-content %}
    <div class="col">
        <img class="card-img" src="">
        <h2 class="card-title"></h2>
        <p class="card-description"></p>
        <h3 class="card-realise"></h3>
        <p class="card-duration"></p>
        <p class="card-link"><a href=""></a></p>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/movies.js' %}"></script>
{% endblock %}


