{% extends "based_layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/postcard.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements/postcard_save.css' %}">
{% endblock %}

{% block title %}Фильмы{% endblock %}

{% block header-button %}
    {% include "elements/postcard_save.html" %}
{% endblock %}


{% block center-content %}

    <div id="postcard-container">
        <img id="postcard" src="{% static 'img/postcard/pc18.jpg' %}" alt="">

        <div id="posters">
            {#            <div class="poster-container">#}
            {#                <img src="{% static 'img/border/frame4.png' %}" alt="" class="border">#}
            {#                <img src="{% static 'img/posters_examples/orig_posters1.jpeg' %}" alt="" class="poster">#}
            {#            </div>#}
        </div>

        <div id="invitation">
            <span id="invitation-title" contentEditable="true" spellcheck="false">Скоро ...</span>
            <span>&nbsp</span>
        </div>


        <img class="stamp stamp_1" src="{% static 'img/stamp/stamp5.png' %}" alt="...">
        <img class="stamp stamp_2" src="{% static 'img/stamp/stamp13.png' %}" alt="...">


    </div>
    

{% endblock %}



{% block script %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
    <script type="module" src="{% static 'js/postcard.js' %}"></script>
{% endblock %}
