* {
    margin: 0;
    padding: 0;
}

.main {
    background: linear-gradient(304deg, rgba(131, 58, 180, 1) 0%, rgba(23, 17, 17, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
}


/* @keyframes glow */
.title {
    text-shadow: 0 0 10px #fff, 0 0 20px rgba(131, 58, 180, 1), 0 0 30px rgba(131, 58, 180, 1), 0 0 40px rgba(131, 58, 180, 1), 0 0 50px rgba(131, 58, 180, 1), 0 0 60px rgba(131, 58, 180, 1), 0 0 70px rgba(131, 58, 180, 1);
}

.my-glowing-text {
    font-family: "Monaco", sans-serif;
    animation: glow 5s ease-in-out infinite;
}

.title {
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 100px;
    font-family: "monaco" monospace;
    color: #fff;
    animation: glow 3s ease-in-out infinite alternate;
}

.navigation {
    grid-column: 1;

    nav {
        height: 50%;
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-content: center;
        text-align: center;
    }
    li:hover {
        background-color: #000137;
    }

    a {
        font-size: 2em;
        text-decoration: none;
        text-shadow: 0 0 10px #fff, 0 0 20px rgba(131, 58, 180, 1), 0 0 30px rgba(131, 58, 180, 1), 0 0 40px rgba(131, 58, 180, 1), 0 0 50px rgba(131, 58, 180, 1), 0 0 60px rgba(131, 58, 180, 1), 0 0 70px rgba(131, 58, 180, 1);
        color: wheat;
    }
}

.movie-card {
    padding: 20px;
    border-radius: 5px;
    grid-column: 3;
    grid-row: 2;

    img {
        visibility: hidden;
    }
}

.movie-posters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
    height: 100vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    overflow: auto;
    grid-column: 2;
    grid-row: 2
}


/*.poster {*/
/*    max-width: 15vw;*/
/*    max-height: 35vh;*/
/*}*/

h2, p {
    color: white;
}

h3 {
    color: white;
}


/* Наше ===========================*/


/* Информация о фильме */
.card-poster {
    width: 22em;
    height: 32em;

}


/* Список всех фильмов */
.poster {
    height: 100%;
}

.poster-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 125px;
    height: 175px;
    position: relative;
}

.image {
    height: 100%;
    object-fit: cover;
}

.options-list {
    visibility: hidden;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    text-align: center;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.7);
}


.btn-option {
    height: 100%;
    width: 100%;

    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: none;
    border-top: none;

    background: none;
    color: white;
    font-size: 12px;

    padding: 1px;

}

.btn-option:hover {
    cursor: pointer;
}

.btn-rate {
    font-size: 1.5em;
}

.btn-rate:hover {
    background: rgba(17, 117, 47, 1.0);
}


.btn-archive:hover {
    background: rgba(17, 117, 47, 1.0);
}

.btn-bookmark:hover {
    background: rgba(17, 117, 47, 1.0);
    /*			background: rgb(17, 70, 117, 1.0);*/
}

.btn-remove:hover {
    background: rgba(117, 16, 16, 1.0);
}

button > img {
    height: 2.5em;
}


#booked-films {
    position: absolute;
    top: 40px;
    right: 40px;

    img {
        height: 8em;
        border-radius: 100%;
    }
}